body {
    font-family: Arial, sans-serif;
    background-image: url(fundo.gif);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 0 50px rgba(156, 81, 226, 0.829);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #836FFF;
    color: white;
}

button:hover {
    background-color: #6A5ACD;
}

.hidden {
    display: none;
}
